html{
  background: linear-gradient(to right , 	green, yellow, red);
  background-size: cover;
  height: 100%;
  width: 100%;
  text-shadow: 2px 2px 8px #00ff7f, 0 0 8px #00c5cd, 0 0 9px #87cefa;
}

h2{
  font-size: 35px;
}
form{
  font-size: 25px;
}

input[type="button"]{
  background-image: url(cannabis-leaf-outline.jpg);
  background-size: cover;
  height: 35px;
  width: 85px;
  font-weight: bolder;
  font-style: oblique;
  border-radius: 5px;
  border-color: #1B1B1B;
  position: relative;

}

.rappers{
  display: none;;
}

.djs{
  display: none;
}

.singers{
  display: none;
}

.show{
  display: block;
}

table {
    width : 60%;
    border: 1px solid black;
    /*background: url(tumblr_oaeg4doWvw1rbf5azo2_r1_500.png);
    background-size: cover;
    background-repeat: round;*/
}

table, th, td {
    border: 1px solid black;
    font-size: 25px;
}

th {
    padding: 10px;
    text-align: justify;
}

td {
  text-align: center;
  padding: 8px;
}

th {
    text-align: left;
}

th {
    background-color: transparent;
}

.migos{
  display: none;
}

.kendrickL{
  display: none;
}

.martinG{
  display: none;
}

.chainsmokers{
  display: none;
}

.beyonceK{
  display: none;
}

.chrisB{
  display: none;
}

img:hover{
  width: 22em;
  height: 22em;
}
