html{
  background: linear-gradient(to right , 	green, yellow, red);
  background-size: cover;
  height: 100%;
  width: 100%;
}

h2{
  font-size: 35px;
}
form{
  font-size: 25px;
}

input[type="button"]{
  background-image: url(cannabis-leaf-outline.jpg);
  background-size: cover;
  height: 35px;
  width: 85px;
  font-weight: bolder;
  font-style: oblique;
  border-radius: 5px;
  border-color: #1B1B1B;
  position: relative;

}

.rappers{
  display: none;;
}

.djs{
  display: none;
}

.singers{
  display: none;
}

.show{
  display: block;
}

table {
    width : 60%;
    border: 1px solid black;
}

table, th, td {
    border: 1px solid black;
    font-size: 25px;
    /*background;*/
}

th {
    padding: 10px;
    text-align: justify;
}

td {
  text-align: center;
  padding: 8px;
}

th {
    text-align: left;
}

th {
    background-color: transparent;
}

.migos{
  display: none;
}

.kendrickL{
  display: none;
}

.martinG{
  display: none;
}

.chainsmokers{
  display: none;
}

.beyonceK{
  display: none;
}

.chrisB{
  display: none;
}
